/*-with (*) element we tell every element in the page to not have any margin or border unless we tell it to.
"box-sizing: border-box;" will fix the border and padding missed on "content-size" by default-*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-To affect style in whole body, it needs to be written at the parent "body"-*/
body {
    
    color: #39a6b2;
    font-family:  Helvetica, Arial,  sans-serif;
    padding: 0;
   
}

/*-Applying style to <header>-*/
header {
padding: 20px 35px;
background-color: #39a6b2;
}
/*-when we want to style "h1 inside header":-*/
header h1{
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline

}
/*-Specify "text-decoration: none;" for anchors to eliminate underline blue text by default*/
header a{
    text-decoration: none;
    color: #fce138;
}
/*-The flow property moves an element with its parent by width default, known in CSS as "BLOCK ELEMENT".-*/
/*-"Display: inline;" will wrap the  -*/
header nav {
    float: right;
    margin: 7px 0;
}   
/*-<li> element is a block element, by default, it will force the block element  to be in the next line after the other when "Display-inline" element -*/
header nav ul li {
    display: inline;
}

/*-<h1> to <h6> has some default styling such as making them bold and adding padding around to make them look like headings before CSS. To remove them place * {margin: 0; padding: 0;} at the top of style sheet. * is called "universal selector" in CSS.-*/
header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 22px;
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}


footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/*-line-height: 1.5; means we want 1.5 times the size of the font and make it more readable.-*/
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color:  #024e76;
}

section {
    padding: 60px;
}

/*- Hero Style Start -*/
.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 600px;
}
/*- Hero Style End -*/

.hero-form {
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
}
/*- We synthesized .hero-form { ...
                    border-style:solid;
                    border-width: 3px
                    border-color: #024e76;} for following:  
... syntax is a placeholder that indicates that there's other content in this code that shouldn't be overwritten. Just add the actual CSS from the preceding snippet.-*/
.hero-form {
    ...
    border: solid 3px #024e76;
}

